apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: delta-lake-data
  namespace: smartgrid
spec:
  accessModes:
    - ReadWriteMany
  storageClassName: standard
  resources:
    requests:
      storage: 50Gi

