apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ .Release.Name }}-config
  namespace: {{ .Values.namespace }}
  labels:
    {{- include "smartgrid.labels" . | nindent 4 }}
data:
  KAFKA_BROKER: {{ .Values.infrastructure.kafka.broker | quote }}
  SCHEMA_REGISTRY_URL: {{ .Values.infrastructure.schemaRegistry.url | quote }}
  CONSUL_HOST: {{ .Values.infrastructure.consul.host | quote }}
  CONSUL_PORT: {{ .Values.infrastructure.consul.port | quote }}
