apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: smartgrid-app-of-apps
  namespace: argocd
  finalizers:
    - resources-finalizer.argocd.argoproj.io
spec:
  project: default
  
  source:
    repoURL: https://github.com/KevinShabanaj386/SmartGridAnalytics.git
    targetRevision: main
    path: SmartGrid_Project_Devops/gitops/argocd/applications
  
  destination:
    server: https://kubernetes.default.svc
    namespace: argocd
  
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true

